<div class="container-fluid pvdr-prfl">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 offset-md-4 px-0 right-col">
                <app-provider-information ></app-provider-information><!-- [profData]= "providerInfo" -->
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 px-0">
            <div class="container-fluid">
                <div class="col-12 btnWrapper justify-content-center">
                    <!-- <app-helix-button></app-helix-button> -->
                    <button class="helixButton text-uppercase">Serach</button>
                    <button class="helixButton text-uppercase">ASSESTS</button>
                    <button class="helixButton text-uppercase">REFER</button>
                </div>
                <div class="row">
                    <app-profile-summary></app-profile-summary>
                </div>

                <div class="row">
                    <app-counselor></app-counselor>
                </div>

                <div class="row mt-3">
                    <app-provider-detail></app-provider-detail>
                </div>
                <div class="col-12 btnWrapper justify-content-center">
                    <!-- <app-helix-button></app-helix-button> -->
                    <button class="helixButton text-uppercase">Serach</button>
                    <button class="helixButton text-uppercase">ASSESTS</button>
                    <button class="helixButton text-uppercase">REFER</button>
                </div>
            </div>
        </div>
    </div>
</div>
