<div class="container">
  <div class="row">
      {{title}} 
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
     <p ycBorder [brcolor]="'red'" [brStyle]= "'dashed '" >
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias maiores velit. Nulla et aspernatur quis animi cum praesentium delectus, natus dolorem quos dignissimos magnam rerum labore provident tempore atque.
     </p>  
     <div ycBorder [brcolor]="'green'" [brStyle]= "'dashed '" [brRadius]="'50px'">
       <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias maiores velit. Nulla et aspernatur quis animi cum praesentium delectus, natus dolorem quos dignissimos magnam rerum labore provident tempore atque.
       </p>
     </div> 
    <input type="text" id="abc">
     
    </div>
  </div>
</div>