<!-- <app-first></app-first> -->
<app-cards class="act"></app-cards>
<app-cards class="abc"></app-cards>
<!-- <app-services></app-services> -->
<!-- <app-contentent-projection></app-contentent-projection> -->
<!-- <app-add-rmv-chips></app-add-rmv-chips> -->
<!-- <app-button [name]="'buttton'" [width]="'500px'" [color]="'red'" (click)="setvalue()" ></app-button> -->
<!-- <app-button (click)="setvalue()" (click)="onEventTrigger($event)" ></app-button> -->
<!-- <app-login [ngStyle]="{'display': 'flex'}"></app-login>
<app-login [ngStyle]="{'display': 'flex'}"></app-login> -->

<!-- data pass form child to parent -->
<!-- {{title}} -->
<!-- <app-button [name]="title" (onNameChange)="onEventTrigger($event)" ></app-button> -->
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe atque sunt illo itaque ab rem quo ex possimus aspernatur recusandae sed exercitationem fuga maxime quae voluptatem, minus ut rerum numquam!
</p>
<app-custom-directives></app-custom-directives>
