<!-- <app-first></app-first> -->
<!-- <app-cards class="act"></app-cards> -->
<!-- <app-cards class="abc"></app-cards> -->
<!-- <app-services></app-services> -->
<!-- <app-contentent-projection></app-contentent-projection> -->
<!-- <app-add-rmv-chips></app-add-rmv-chips> -->
<!-- <app-button [name]="'buttton'" [width]="'500px'" [color]="'red'" (click)="setvalue()" ></app-button> -->
<!-- <app-button (click)="setvalue()" (click)="onEventTrigger($event)" ></app-button> -->
<!-- <app-login [ngStyle]="{'display': 'flex'}"></app-login>
<app-login [ngStyle]="{'display': 'flex'}"></app-login> -->

<!-- data pass form child to parent -->
<!-- {{title}} -->
<!--     [name]="title" (onNameChange)="onEventTrigger($event)" ></app-button> -->
<!-- <app-custom-directives></app-custom-directives> -->

<div class="container testClass">
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
